{{#if updateInquiryForm}}
<h1>Update {{inquiry.author}}'s inquiry</h1>
<div>
  <form>
    <div class="form-group">
      <label for="image">Image</label>
      {{input value=image id="image" placeholder=inquiry.image}}
    </div>

    <div class="form-group">
      <label for="question">Inquiry</label>
      {{input value=question id="question" placeholder=inquiry.question}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author" placeholder=inquiry.author}}
    </div>

    <div class="form-group">
      <label for="system">System</label>
      {{input value=system id="system" placeholder=inquiry.system}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{input value=notes id="notes" placeholder=inquiry.notes}}
    </div>

    <button {{action 'update' inquiry}}>Save Update</button>
  </form>
</div>
{{else}}
  <button {{action 'updateInquiryForm'}}>Update Inquiry</button>
{{/if}}
